body {
    /*background-image: url("../img/skola_bakrundsbild.JPG");*/
    height: 100%;
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

#backgrundsbild {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    max-height: 75px;
}


#header {
    background: #0EC5CC;
    height: 170px;
    width: 100%;
}

#logo_box {
    background: white;
    height: 220px;
    width: 235px;
    margin-left: 98px;
    float: left;
}

#logo {
    margin-left: 10px;
}

#namn_header {
    height: 70px;
    width: 380px;
    background-color: #0EC5CC;
    float: right;
    margin-top: 45px;
    margin-right: 5px;
}

/* Hover animation*/
.nav-li {
    display: inline-block;
    position: relative;
    padding-bottom: 2px;
}
.nav-li:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .2s ease, background-color .2s ease;
    margin-top: 3px;

}
.nav-li:hover:after {
    width: 100%;
    background: #ffffff;
    margin-top: 2px;
}

/* Active */
.active-li {
    display: inline-block;
    position: relative;
    padding-bottom: 5px;

}
.active-li:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    width: 100%;
    background: #ffffff;
    margin-top: 2px;
}

#namn {
    float: left;
}

#header2 {
    width: 42.5%;
    height: 50px;
    background-color: #0EC5CC;
    float: left;
    margin-left: 10px;
    padding-left: 0px;
    margin-top: 52px;
}

         #hem {
            margin-left: -20px;
        }

        #program {
            margin-left: 5px;
        }

        #mer_info {
            margin-left: 5px;
        }

        #om_oss {
            margin-left: 5px;
        }

#container {
    background: #e5e5e5;
    width: 86%;
    height: 1000px;
    margin-top: 110px;
    margin-left: 98px;
    border: solid black 5px;
}